/* Текущие стили модалки не потребуется дорабатывать */

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  	display: none;
}

.modal--active {
  display: block;
}

.modal::after {
	content: "";
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	pointer-events: none;
}

.modal__wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 40px;
}

/* Плашку с успешной отправкой спозиционируй от modal__content */
.modal__content {
	display: flex;
	position: relative;
	width: 100%;
	max-width: 1200px;
	min-height: 660px;
	background-color: #FFFFFF;
}

.close-modal__button {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: none;
	background-color: #3C52E6;
	position: absolute;
	right: 15px;
	top: 15px;
	cursor: pointer;
}

.close-modal__button-icon {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%; 
	left: 50%;
	transform: translate(-50%, -50%);
}

.custom-input {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	height: 100%;
}

.custom-input__group-contacts {
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
	color: #180000;
	text-transform: uppercase;
	margin: 0 0 60px 0;
}

.custom-input__group {
	border: none;
}

.custom-input__data {
	margin:  0 0 60px 0;
}

.custom-input__field {
	border: none;
	border-bottom: 1px solid#C8C8CA;
	padding: 10px 2px;
	width: 280px;
	height: 54px;
}

.custom-input__phone::placeholder {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	color: #99999E;
}

.custom-input__label {
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
	color: #99999E;
}

.custom-input__data {
	display: flex;
	flex-direction: row;
	gap: 60px;
}

.custom-input__data-user {
	display: flex;
	flex-direction: column;
}

.custom-input__data-submit {
	display: flex;
	gap: 15px;
}

.custom-input__commentary {
	border: none;
	border-bottom: 1px solid #C8C8CA;
	width: 460px;
}

.custom-input__checkbox-label {
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	color: #99999E;
	width: 210px;
}

.custom-input__checkbox-link {
	color: #3C52E6;
}

.custom-input__data-user--checkbox {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 11px;
}

.custom-input__button-submit {
	text-align: center;
	border: none;
	background-color: rgba(60, 82, 230, 0.5);
	color: #FFFFFF;
	width: 200px;
	padding: 20px;
	cursor: pointer;
}

.custom-input__data-send {
	position: absolute;
	left: 50%;
	bottom: 50px;
	transform: translate(-50%);
	color: #FFFFFF;
	background-color: #3C52E6;
	max-width: 260px;
	padding: 16px 40px;
	text-align: center;
}

.custom-input__data-send-message {
	font-size: 24px;
	line-height: 36px;
	text-transform: uppercase;
}

.custom-input__data-send-time {
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	color: #FFFFFF;
}

.custom-input__data-icon-watch {
	width: 17px;
	height: 17px;
}